body {
    background-color: forestgreen;
    background-image: url(../assets/img/Mine.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
}
#canvas {
    display: block;
    margin: 0 auto;
}